@font-face {
   font-family: Gal;
   src: url(GalSILR.woff);
}

* {
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html,
body {
   height: 100%;
   overflow: auto;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-image: url(worldmap.jpg);
   background-size: cover;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
   color: inherit;
}

.main__body {
   height: 100%;
   display: block;
   width: 80%;
   background: white;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 3px;
   border-right: 1px solid #3b3b3b;
   border-bottom: 1px solid #3b3b3b;
   border-left: 1px solid #5b5b5b;
   border-top: 1px solid #5b5b5b;
   box-shadow: inset 0 0 10px #000;
   background: white;
   opacity: 0.7;
}

.bottom__image {
   height: auto;
   width: 100%;
   text-align: -webkit-center;
}

.bottom__image img {
   height: 300px;
}

.main__news {
   height: auto;
   display: block;
   width: 60%;
   background: white;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 3px;
   border-right: 1px solid #3b3b3b;
   border-bottom: 1px solid #3b3b3b;
   border-left: 1px solid #5b5b5b;
   border-top: 1px solid #5b5b5b;
   box-shadow: inset 0 0 10px #000;
   background: white;
   opacity: 0.7;
}

.news__title {
   width: 7%;
   height: auto;
   padding: 0.8rem;
}

.news__title h1 {
   font-family: Gal;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin: 0;
}

ul.news__list {
   list-style: none;
}

.news__item_1 {
   background: grey;
   height: 35px;
   margin: 0.5rem;
   border-radius: 3px;
}

.news__item_2 {
   background: lightgrey;
   height: 35px;
   margin: 0.5rem;
   border-radius: 3px;
}

.main__nav {
   width: 80%;
   margin: auto;
   height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   border-radius: 3px;
   border-right: 1px solid #3b3b3b;
   border-bottom: 1px solid #3b3b3b;
   border-left: 1px solid #5b5b5b;
   border-top: 1px solid #5b5b5b;
   box-shadow: inset 0 0 10px #000;
   background: white;
   opacity: 0.7;
}

.nav__logo {
   position: relative;
   margin: auto;
   width: 100%;
   text-align: -webkit-center;
}

.logo {
   width: 400px;
   height: auto;
}

.nav__item {
   font-family: Gal;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin: 0rem 1rem 1rem 1rem
}

.list__logo {
   width: 40px;
   position: relative;
   top: 13px;
   right: 7px;
}

.nav__item:hover {
   color: brown;
}

.nav__item:hover .list__logo {
   transform: rotate(-38deg);
}

.main__body__travelers {
   height: auto;
   display: flex;
   flex-wrap: wrap;
   width: 55%;
   background: white;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 3px;
   border-right: 1px solid #3b3b3b;
   border-bottom: 1px solid #3b3b3b;
   border-left: 1px solid #5b5b5b;
   border-top: 1px solid #5b5b5b;
   box-shadow: inset 0 0 10px #000;
   background: white;
   opacity: 0.7;
}

.traveler__box {
   padding: 1rem 2rem;
   height: 25%;
   width: -webkit-fill-available;
   display: flex;
}

.traveler__image {
   width: auto;
   height: 15rem;
   object-fit: contain;
}

@media (min-width: 981px) {
   .traveler__image:hover {
      transform: scale(2.5);
   }
}

.traveler__copy {
   padding: 0.8rem 2rem;
}

.traveler__copy p {
   font-family: Gal;
   text-align: justify;
}

.traveler__copy h2,
h3 {
   font-family: Gal;
   letter-spacing: 2px;
   margin-bottom: 5px;
}

.job__copy h3 {
   font-size: 30px;
}

.opposite {
   flex-direction: row-reverse;
}

@media (max-width: 981px) {
   .traveler__box {
      flex-direction: column;
   }
   .opposite {
      flex-direction: column;
   }
}

.wpn_img {
   position: relative;
   top: 5px;
}

.main__jobs {
   display: flex;
   flex-wrap: wrap;
  justify-content: space-between;
    width: 46%;
   height: fit-content;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 3px;
   border-right: 1px solid #3b3b3b;
   border-bottom: 1px solid #3b3b3b;
   border-left: 1px solid #5b5b5b;
   border-top: 1px solid #5b5b5b;
   box-shadow: inset 0 0 10px #000;
   background: white;
   opacity: 0.9;
}

@media (max-width: 980px) {
   .main__jobs {
      width: auto;
   }
}

.all__jobs {
    justify-content: space-evenly;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
}

.page__title {
    height: 6%;
    width: fit-content;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    background: white;
    opacity: 0.8;
    padding: 0.4rem 1rem;
    font-family: Gal;
    font-size: 16px;
    border-radius: 3px;
    border-right: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    border-left: 1px solid #5b5b5b;
    border-top: 1px solid #5b5b5b;
    box-shadow: inset 0 0 10px #000;
}

.main__jobs h2 {
   font-family: Gal;
   letter-spacing: 1px;
}

.skills {
   padding: 0rem 1rem;
   width: -webkit-fill-available;
   font-family: Gal;
}

.job__sprite {
   padding: 2rem 2rem;
   height: 200px;
}

.job__copy {
   padding: 1rem 2rem;
}

table {
   display: table;
   border-collapse: separate;
   border-spacing: 2px;
   border-color: grey;
}

td:nth-child(1) {
   width: 25%;
}

th,
td {
   padding: 0.5rem;
   text-align: -webkit-auto;
   background-color: gainsboro;
}

td .wpn_img {
   position: relative;
   top: 5px;
   left: 7px;
}

.support__skills {
   padding: 0.3rem 1rem 1rem;
   width: -webkit-fill-available;
   font-family: Gal;
}

.active,
.collapsible:hover {
   background-color: #ccc;
}

.content {
   padding: 0rem 2rem;
   display: none;
   overflow: hidden;
   width: auto;
}

.collapsible {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: center;
   outline: none;
   font-size: 15px;
   font-weight: bold;
}

.attributes {
   padding: 1.5rem 1rem;
   font-family: Gal;
   width: 145px;
   height: fit-content;
}

.attributes .content {
   padding: 0;
}

.main__footer {
   display: block;
   position: relative;
   bottom: 0;
   color: white;
   width: 55%;
   margin: auto;
   padding-top: 5%;
}

.main__footer p {
   font-family: Gal;
   font-size: 13px;
   font-weight: bold;
   letter-spacing: 2px;
   text-align: -webkit-center;
   padding: 0.5rem 0rem;
}

.back__button {
   height: 70px;
   position: absolute;
   width: auto;
   bottom: 0;
   right: 0;
   padding: 1rem;
}

.back__button img {
   height: 75px;
}